DelVaksin/DelVaksinClient/Connected Services/ServiceSemuaData/AllData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52687/AllData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DelVaksin" />
  <xs:element name="getAllAkun">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAkunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getAllAkunResult" nillable="true" type="q1:ArrayOfAkun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVaksin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getAllVaksinResult" nillable="true" type="q2:ArrayOfVaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVaksin_Veried">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVaksin_VeriedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getAllVaksin_VeriedResult" nillable="true" type="q3:ArrayOfVaksin_Veried" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRegis_Vaksin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRegis_VaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getAllRegis_VaksinResult" nillable="true" type="q4:ArrayOfRegis_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPenduduk">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPendudukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getAllPendudukResult" nillable="true" type="q5:ArrayOfPenduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getByIdVaksinResult" nillable="true" type="q6:Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdVaksin_Veried">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdVaksin_VeriedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getByIdVaksin_VeriedResult" nillable="true" type="q7:Vaksin_Veried" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdRegis_Vaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdRegis_VaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getByIdRegis_VaksinResult" nillable="true" type="q8:Regis_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdPenduduk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdPendudukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="getByIdPendudukResult" nillable="true" type="q9:Penduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>