DelVaksin/DelVaksinClient/Connected Services/ServiceSemuaData/AllData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DelVaksin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DelVaksin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAkun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Akun" nillable="true" type="tns:Akun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAkun" nillable="true" type="tns:ArrayOfAkun" />
  <xs:complexType name="Akun">
    <xs:sequence>
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roll" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Akun" nillable="true" type="tns:Akun" />
  <xs:complexType name="ArrayOfVaksin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vaksin" nillable="true" type="tns:Vaksin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVaksin" nillable="true" type="tns:ArrayOfVaksin" />
  <xs:complexType name="Vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_vaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vaksin" nillable="true" type="tns:Vaksin" />
  <xs:complexType name="ArrayOfVaksin_Veried">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vaksin_Veried" nillable="true" type="tns:Vaksin_Veried" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVaksin_Veried" nillable="true" type="tns:ArrayOfVaksin_Veried" />
  <xs:complexType name="Vaksin_Veried">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_vaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama_perawat" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vaksin_Veried" nillable="true" type="tns:Vaksin_Veried" />
  <xs:complexType name="ArrayOfRegis_Vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Regis_Vaksin" nillable="true" type="tns:Regis_Vaksin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegis_Vaksin" nillable="true" type="tns:ArrayOfRegis_Vaksin" />
  <xs:complexType name="Regis_Vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_vaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Regis_Vaksin" nillable="true" type="tns:Regis_Vaksin" />
  <xs:complexType name="ArrayOfPenduduk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Penduduk" nillable="true" type="tns:Penduduk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPenduduk" nillable="true" type="tns:ArrayOfPenduduk" />
  <xs:complexType name="Penduduk">
    <xs:sequence>
      <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jenis_kelamin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="umur" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Penduduk" nillable="true" type="tns:Penduduk" />
</xs:schema>