DelVaksin/DelVaksinClient/Connected Services/ServiceBPOM/SBPOM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52687/SBPOM.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DelVaksin" />
  <xs:element name="RegisVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DelVaksin" minOccurs="0" name="vaksin" nillable="true" type="q1:Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVaksinSampai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVaksinSampaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportVaksinSampaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVaksindiGunakan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVaksindiGunakanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportVaksindiGunakanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>