DelVaksin/DelVaksinClient/Connected Services/ServiceBPOM/SBPOM1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DelVaksin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DelVaksin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_vaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vaksin" nillable="true" type="tns:Vaksin" />
</xs:schema>