DelVaksin/DelVaksinClient/Connected Services/ServiceBPOM/SBPOM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SBPOM" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52687/SBPOM.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52687/SBPOM.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52687/SBPOM.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DelVaksin" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISBPOM_RegisVaksin_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisVaksin" />
  </wsdl:message>
  <wsdl:message name="ISBPOM_RegisVaksin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisVaksinResponse" />
  </wsdl:message>
  <wsdl:message name="ISBPOM_ReportVaksinSampai_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportVaksinSampai" />
  </wsdl:message>
  <wsdl:message name="ISBPOM_ReportVaksinSampai_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportVaksinSampaiResponse" />
  </wsdl:message>
  <wsdl:message name="ISBPOM_ReportVaksindiGunakan_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportVaksindiGunakan" />
  </wsdl:message>
  <wsdl:message name="ISBPOM_ReportVaksindiGunakan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportVaksindiGunakanResponse" />
  </wsdl:message>
  <wsdl:portType name="ISBPOM">
    <wsdl:operation name="RegisVaksin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISBPOM/RegisVaksin" message="tns:ISBPOM_RegisVaksin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISBPOM/RegisVaksinResponse" message="tns:ISBPOM_RegisVaksin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportVaksinSampai">
      <wsdl:input wsaw:Action="http://tempuri.org/ISBPOM/ReportVaksinSampai" message="tns:ISBPOM_ReportVaksinSampai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISBPOM/ReportVaksinSampaiResponse" message="tns:ISBPOM_ReportVaksinSampai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportVaksindiGunakan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISBPOM/ReportVaksindiGunakan" message="tns:ISBPOM_ReportVaksindiGunakan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISBPOM/ReportVaksindiGunakanResponse" message="tns:ISBPOM_ReportVaksindiGunakan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISBPOM" type="tns:ISBPOM">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisVaksin">
      <soap:operation soapAction="http://tempuri.org/ISBPOM/RegisVaksin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportVaksinSampai">
      <soap:operation soapAction="http://tempuri.org/ISBPOM/ReportVaksinSampai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportVaksindiGunakan">
      <soap:operation soapAction="http://tempuri.org/ISBPOM/ReportVaksindiGunakan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SBPOM">
    <wsdl:port name="BasicHttpBinding_ISBPOM" binding="tns:BasicHttpBinding_ISBPOM">
      <soap:address location="http://localhost:52687/SBPOM.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>